<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[CH.Native]*,[CH.Native.Dapper]*,[CH.Native.DependencyInjection]*</Include>
          <Exclude>[CH.Native.Tests]*,[CH.Native.SystemTests]*,[CH.Native.SmokeTests]*,[*]CH.Native.Benchmarks.*,[*]*.Samples.*</Exclude>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <SkipAutoProps>true</SkipAutoProps>
          <DeterministicReport>true</DeterministicReport>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
